/* Bordures a supprimer -------------------------------------------------*/
nav, .intro, h1, p, .ecrivezmoi, .logo, .form, .formulaire, .robbiephoto, .galerie{ 
	border: 0px solid black;
}
/* Bordures a supprimer */
/* Body */
body{
	font-family: Manrope;
	margin: 0px;
	background-color:rgba(31,32,57,255)
}
/* Body -------------------------------------------------------------*/
/* Banniere ----------------------------------------------------------*/
header{
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.logo{
	margin: 20px 10px 20px 80px;
}
nav{
	width: 350px;
}
nav ul{
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	padding-right: 30px;
	padding-top: 10px;
}
nav a{
	text-decoration: none;
	color: rgba(91,91,91,255);
}
nav a:hover{
	text-decoration: underline;
}
/* Banniere -------------------------------------------------------------*/
/* Intro -------------------------------------------------------------*/
.intro{
	display: flex;
	align-items: flex-start;
	margin: auto;
	max-width: 1000px;
	padding: 50px;
}
.intro h1, section h1{
	color: #a5b4fc;
	font-size: 3.6em;

}
.robbiephoto{
	padding: 30px 15px 30px 15px;
}
.textegauche{
	position: relative;
	bottom: 35px;
}
.intro p, .intro ul{
	color: white;
	font-size: 1.1em;
	position: relative;
	bottom: 35px;
}
.intro strong{
	color: #a5b4fc;
	font-weight: normal;
}
.ecrivezmoi, .envoyer{
	display: inline-block;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	text-align: center;
	border: 1px transparent solid;
	border-radius: 50px;
	width: 200px;
	padding: 20px 20px 20px 20px;
	background-color: #a5b4fc;
}
/* Intro -------------------------------------------------------------*/
/* Galerie -------------------------------------------------------------*/
.projet{
	background-color: white;
	padding-bottom: 100px;
}
.projet h2{
	text-align: center;
	padding: 70px 0px 70px 0px;
}
.galerie{
	display: flex;
	justify-content: center;
	margin: auto;
	max-width: 1050px;
	flex-wrap: wrap;
	gap: 14px;
	
}
/* Galerie -------------------------------------------------------------*/
/* Formulaire -------------------------------------------------------------*/
.formulaire{
	height: 39.5em;
	color: white;

}
.formulaire h3{
	text-align: center;
	padding-top: 3em;
	font-size: 1.5em;
	color: #a5b4fc;
}
.form{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
	max-width: 1000px;
	margin: auto;
}
.nomemail {
	display: flex;
}
label{
	display: block;
	width: 100px;
}
input{
	padding: 10px 150px 10px 150px;
	margin: 10px;
}
textarea{
	padding: 10px 400px 10px 400px;
	margin: 10px;
}
/* Formulaire -------------------------------------------------------------*/
/* Footer -------------------------------------------------------------*/
footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 10px 30px 10px 70px;
}
footer img{
	margin: 15px;
}

/* Footer -------------------------------------------------------------*/
